body { 
background-color:    #2444d3 
}

body {
    background-color: #1a2ddd;
    color: rgb(186, 223, 22);
    }

    :root {
        .cores {--verde: #6FFF57;} 
    }
.h1{
    background-color: #475081;
    color: rgb(214, 89, 16);
}
